
<div class="p-4">
    <h2 class="text-2xl font-semibold mb-4">Product Listings</h2>
  
    <div *ngIf="products.length === 0" class="text-gray-500">No products found.</div>
  
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4" *ngIf="products.length > 0">
      <div *ngFor="let product of products" class="border p-4 rounded shadow hover:shadow-md transition">
        <h3 class="font-bold text-lg mb-2">{{ product.name }}</h3>
        <p class="text-gray-600 text-sm mb-2">{{ product.description }}</p>
        <div class="text-blue-600 font-semibold">₹ {{ product.price }}</div>
      </div>
    </div>
    <div class="flex gap-3 cursor-pointer">
      <button mat-raised-button color="primary" class="cursor-pointer" [disabled]="page==1" (click)="setPage(page-1)">Previous</button>
      <button mat-raised-button color="primary" class="cursor-pointer" [disabled]="!isNext" (click)="setPage(page-1)">Next</button>
    </div>
  </div>
  